// Happy theme vars
// Global boilerplate vars should be overwritten here

// Colors
$primary-color: #040303;
$secondary-color: #949494;
$tertiary-color: #C4C3C3;
$accent-color: #2D2D2D;

// Fonts
$base-font-stack: 'Open Sans', sans-serif;
$heading-font-stack: 'Pasion One', cursive;
