// Grid definition
$susy: (
  columns: 12
);

html {
  font-size: $base-default-font-size;

  @include susy-breakpoint($bp-medium-landscape) {
    font-size: $base-medium-font-size;
  }
}

.container {
  @include container();

  max-width: $layout-max-width;

  p {
    margin-top: 0;
  }
}
