$base-font-stack: 'Open Sans', sans-serif;
$heading-font-stack: 'Shrikhand', cursive;

.base-text {
  color: $primary-color;
  font-family: $base-font-stack;
  font-size: rem(18px);
  line-height: 150%;
}
