
html {
  box-sizing: border-box;
  font-size: $base-default-font-size;

  @include breakpoint($bp-medium-landscape) {
    font-size: $base-medium-font-size;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $primary-color;
  background-color: $tertiary-color;
}

a {
  @extend %link;
}

p {
  margin-top: 0;
}

.container {
  @include flex-center;

  flex-direction: column;
  max-width: $layout-max-width;
  height: 100vh;
}

#{$all-text-inputs} {
  @extend %field;
}

#{$all-text-inputs-active},
#{$all-text-inputs-hover},
#{$all-text-inputs-hover} {
  border-color: $accent-color;
}
